main {
margin-left: 230px;
}

article {
  background-color: #c6ecf0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 9px;
  margin-left: -20px;
}

details {
  margin-bottom: 100px;
}

/*Navbar*/
nav {
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #028a8a;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
  
li a:hover {
  background-color: rgba(42, 238, 252, 0.849);
}

.active {
    background-color:rgba(42, 238, 252, 0.849);
}

/*Sidebar*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(6, 159, 170);
  position: fixed;
  height: 100%;
  overflow: auto;
  opacity: 50%;
}

.sidebar a {
  display: block;
  color: rgb(255, 254, 254);
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.sidebar a.active {
  background-color: #06d6d6;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgba(42, 238, 252, 0.849);
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
}}

/*dashboard*/
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 17px;
  margin-bottom: 17px;
}

th {
  background-color: rgb(75, 194, 202);
}

td, th {
border: 1px solid #ffffff;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
  background-color: #78d4e0;
}

tr:nth-child(odd) {
  background-color: #8adfdf;
}

/*profile*/
.about-me {
  float:left; 
  width:45%;
}

.favourite-games {
  float:left; 
  width:55%; 
  margin-bottom: 75px;
}

.besides-school {
  float:left; 
  width:45%;
}

.favourite-movies {
  float:left; 
  width:55%;
}

